body {
    background-color: lightgray;
}

#message {
    text-align: center;
}

#button-container {
    width: 60%;
    margin-left: 15%;
    padding: 1%;
}

button {
    width: 90%;
    height: 30%;
    display: block;
    margin-left: 5%;
    margin-top: 5%;
    border: black;
}

button.half-width {
    display: inline-block;
    width: 40%;
    margin-right:4.5%
}

.no-connect {
    pointer-events:none;
    background: gray !important;
}

.stop {
    background: red;
}

.stop:hover {
    background: #bd5757;
}

.stop:active{
    background: #680000;
}

.reset{
    background: green;
}

.reset:hover {
    background: #57bd57;
}

.reset:active{
    background: #006800;
}

#calibration-status{
    text-align:center;
    font-size: 3em;
    font-weight: bold;
    color: yellow;
}

#robot-start-button{
    background: orange;
}

#iface_link {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.running{
    background: red;
}

.stopped{
    background: green;
}

.ui-button-text {
    font-size: 3em;
}

