body {
    background-color: lightgray;
}

#message {
    text-align: center;
}

#button-container {
    width: 60%;
    height: 80%;
    margin-left: 15%;
    padding: 1%;
}

button {
    width: 90%;
    height: 30%;
    display: block;
    margin-left: 5%;
    margin-top: 5%;
    border: black;
}

#reset-button {
    background: green;
}

#reset-button.no-connect {
    background: gray;
}

#reset-button:hover {
    background: #57bd57;
}

#reset-button.no-connect:hover {
    background: gray;
}

#reset-button:active{
    background: #006800;
}

#reset-button.no-connect:active {
    background: gray;
}

#stop-button {
    background: red;
}

#stop-button.no-connect {
    background: gray;
}

#stop-button:hover {
    background: #ff6464;
}

#stop-button.no-connect:hover {
    background: gray;
}

#stop-button:active {
    background: #b30000;
}

#stop-button.no-connect:active {
    background: gray;
}

.ui-button-text {
    font-size: 3em;
}

.
