<launch>
  <!-- Arms: Haptic MPC -->
  <include file="$(find hrl_haptic_mpc)/launch/start_pr2_mpc.launch">
    <arg name="arm" value="l"/>
    <arg name="skin" value="fabric"/>
    <arg name="namespace" value="left_arm"/>
    <arg name="rviz_teleop" value="false"/>
  </include>

  <include file="$(find hrl_haptic_mpc)/launch/start_pr2_mpc.launch">
    <arg name="arm" value="r"/>
    <arg name="skin" value="none"/>
    <arg name="namespace" value="right_arm"/>
    <arg name="rviz_teleop" value="false"/>
  </include>

<!--Launch ar_track_alvar-->
    <arg name="marker_size" default="2.8" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/head_mount_kinect/rgb/image" />
	<arg name="cam_info_topic" default="/head_mount_kinect/rgb/camera_info" />	
	<arg name="output_frame" default="/torso_lift_link" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" /> 

<!--Launch MoveIt!-->
    <include file="$(find pr2_ft_moveit_config)/launch/move_group.launch">

<!--Launch grab_tool_action server-->
    <node name="grab_tool_server" pkg="grab_tool_action" type="grab_tool_server" respawn="false" output="screen" />



</launch>
